* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-content {
  width: 300px;
  margin: 30px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.main-content:last-child {
  margin-right: 0;
}

.main-item1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.main-item2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.main-item3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.main-mini {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.main-title {
  margin: 15px 0 5px;
}

main p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
    display: block;
  }
  .main-content:first-child {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .main-content {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content:last-child {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }
  footer {
    width: 100%;
  }
}
